HEADER="Unauthorized connect to database $DATABASE detected"

QUERY="SELECT VARCHAR_FORMAT(TIMESTAMP,'YYYY-MM-DD HH24:MI:SS') AS TIME,DATABASE,AUTHID,HOSTNAME,APPID,APPNAME, INSTNAME FROM EXECUTE WHERE EVENT='CONNECT' AND AUTHID NOT IN ('DB2INST1',UPPER('$AUDITUSER')) AND DATABASE=UPPER('$DATABASE') AND TIMESTAMP>'$EXECUTE_MAXTM'"