HEADER="Unauthorized update on $DATABASE detected"

QUERY="SELECT VARCHAR_FORMAT(TIMESTAMP,'YYYY-MM-DD HH24:MI:SS') AS TIME,DATABASE,AUTHID,HOSTNAME,APPID,APPNAME,INSTNAME,EVENT,ACTIVITYTYPE FROM EXECUTE WHERE DATABASE=UPPER('$DATABASE') AND AUTHID IN ('DB2INST1'${UNAUTHUPDATE}) AND ACTIVITYTYPE='WRITE_DML' AND TIMESTAMP >'$EXECUTE_MAXTM'"